[Unit]
Description=Remove packer user once at shutdown
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
Requires=network.target

[Service]
Type=oneshot
ExecStart=/opt/remove_packer_once.sh
RemainAfterExit=yes

[Install]
WantedBy=halt.target reboot.target shutdown.target
