---
apiVersion: certmanager.step.sm/v1beta1
kind: StepClusterIssuer
metadata:
  name: step-issuer
spec:
  url: https://step-certificates.default.svc.cluster.local
  caBundle: {{ step_certs['resources'][0]['data']['root_ca.crt'] | b64encode }}
  provisioner:
    name: {{ step_config | from_json | community.general.json_query('authority.provisioners[0].name') }}
    kid: {{ step_config | from_json | community.general.json_query('authority.provisioners[0].key.kid') }}
    passwordRef:
      name: certificates-step-certificates-provisioner-password
      key: password
      namespace: certificates