---
- name: Configure arrstack
  hosts: localhost
  tasks:
    - name: Configure prowlarr
      tags:
        - prowlarr
      block:
        - debug:
            msg: "{{ ansible_env.SONARR_API_KEY }}"
        - name: Add sonarr
          devopsarr.prowlarr.prowlarr_application:
            name: Sonarr
            sync_level: disabled
            config_contract: SonarrSettings
            implementation: Sonarr
            fields:
              - name: prowlarrUrl
                value: http://prowlarr:9696/prowlarr
              - name: baseUrl
                value: "{{ ansible_env.SONARR_URL }}"
              - name: apiKey
                value: "{{ ansible_env.SONARR_API_KEY }}"
              - name: syncCategories
                value:
                  - 5000
                  - 5010
              - name: syncRejectBlocklistedTorrentHashesWhileGrabbing
                value: false
