---
- name: Install dns
  ansible.builtin.import_playbook: dialgatrainer02_lab.homelab.dns.yml
  tags:
    - dns
- name: Install cluster
  ansible.builtin.import_playbook: dialgatrainer02_lab.homelab.cluster.yml
  tags:
    - cluster
- name: Extras
  hosts: controlplane:worker
  become: true
  post_tasks:
    - name: Ensure required packages are installed
      ansible.builtin.dnf:
        name:
          - kitty-terminfo
        state: present
        # need to set release ver as kitty terminfo is too new
        releasever: 10.1
        disablerepo:
          - docker-ce-stable
          # doesnt like the release ver
