- name: Configure step issuer
  hosts: localhost
  become: true
  tasks:
    - name: Get current namespace from service account
      ansible.builtin.slurp:
        src: /var/run/secrets/kubernetes.io/serviceaccount/namespace
      register: sa_namespace_raw
    - name: Decode namespace
      ansible.builtin.set_fact:
        sa_namespace: "{{ sa_namespace_raw.content | b64decode }}"
    - name: Read step-certificates-certs ConfigMap 
      kubernetes.core.k8s_info:
        api_version: v1
        kind: ConfigMap
        name: certificates-step-certificates-certs
        namespace: "{{ sa_namespace }}"
      register: step_certs
    - name: Read step-certificates-certs ConfigMap 
      kubernetes.core.k8s_info:
        api_version: v1
        kind: ConfigMap
        name: certificates-step-certificates-config
        namespace: "{{ sa_namespace }}"
      register: step_config
    - ansible.builtin.debug:
        msg: "{{ step_config['resources'][0]['data']['ca.json'] | community.general.json_query('authority') }}"